.header{
    position: sticky;
    top: 0;
    z-index: 999;
}
.header-main, .header-secondary, .header-main-left{
    display: flex;
}

.header-main{
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}

.header-main-logo, .header-main-searchbar, .header-main-categorylist, .header-main-login {
    width: 100px;
    margin: 0 1rem;
}

.header-main-categorylist, .header-main-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-main-searchbar {
    flex: 1;
    margin: 10px 1rem;
    border-bottom: 1px solid #e6e6e6;
}


.header-secondary{
    padding: 0 1rem;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
    justify-content: center;
}

.header-secondary-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50em;
}

.header-secondary-container-news{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-secondary-container-bestrecipes, .header-secondary-container-fastrecipe, .header-secondary-container-news{
    height : 3em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CATEGORY CONTAINER */
.categories-result-container{
    position: absolute;
    top: 40%; 
    left: 1.5%; 
    padding: 10px 20px; 
    width: 80px;
    background-color: #e6e6e6;
}
.categories-result-container-list-item{
    margin: 0.5em 0 ;
}